NYSEPro/Connected Services/ServiceReference1/clientAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="usersDT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="symbol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="usersDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usersDTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsersDateSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsersDateSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersDateSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="usersDTSoapIn">
    <wsdl:part name="parameters" element="tns:usersDT" />
  </wsdl:message>
  <wsdl:message name="usersDTSoapOut">
    <wsdl:part name="parameters" element="tns:usersDTResponse" />
  </wsdl:message>
  <wsdl:message name="UsersDateSearchSoapIn">
    <wsdl:part name="parameters" element="tns:UsersDateSearch" />
  </wsdl:message>
  <wsdl:message name="UsersDateSearchSoapOut">
    <wsdl:part name="parameters" element="tns:UsersDateSearchResponse" />
  </wsdl:message>
  <wsdl:message name="usersDTHttpGetIn">
    <wsdl:part name="symbol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="usersDTHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UsersDateSearchHttpGetIn">
    <wsdl:part name="startDate" type="s:string" />
    <wsdl:part name="endDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UsersDateSearchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="clientAPISoap">
    <wsdl:operation name="usersDT">
      <wsdl:input message="tns:usersDTSoapIn" />
      <wsdl:output message="tns:usersDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsersDateSearch">
      <wsdl:input message="tns:UsersDateSearchSoapIn" />
      <wsdl:output message="tns:UsersDateSearchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="clientAPIHttpGet">
    <wsdl:operation name="usersDT">
      <wsdl:input message="tns:usersDTHttpGetIn" />
      <wsdl:output message="tns:usersDTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UsersDateSearch">
      <wsdl:input message="tns:UsersDateSearchHttpGetIn" />
      <wsdl:output message="tns:UsersDateSearchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="clientAPISoap" type="tns:clientAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="usersDT">
      <soap:operation soapAction="http://tempuri.org/usersDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersDateSearch">
      <soap:operation soapAction="http://tempuri.org/UsersDateSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clientAPISoap12" type="tns:clientAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="usersDT">
      <soap12:operation soapAction="http://tempuri.org/usersDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersDateSearch">
      <soap12:operation soapAction="http://tempuri.org/UsersDateSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="clientAPIHttpGet" type="tns:clientAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="usersDT">
      <http:operation location="/usersDT" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsersDateSearch">
      <http:operation location="/UsersDateSearch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clientAPI">
    <wsdl:port name="clientAPISoap" binding="tns:clientAPISoap">
      <soap:address location="https://localhost:44385/clientAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="clientAPISoap12" binding="tns:clientAPISoap12">
      <soap12:address location="https://localhost:44385/clientAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="clientAPIHttpGet" binding="tns:clientAPIHttpGet">
      <http:address location="https://localhost:44385/clientAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>